body {
    background-color: #f5f5f5;
}

.card {
    background-color: white !important;
}

.session-detail {
    max-width: 800px;
}

.session-detail .card-body {
    overflow-y: scroll;
}

.session-detail .card {
    height: 70vh;
    /*overflow-y: scroll;*/
}


@media (max-width: 768px) {
    .session-detail .card {
        height: 88vh;
    }
    .survey-list li {
        font-size: 14px;
    }
}

.main-nav {
    border-bottom: 1px solid;
    background-color: white !important;
    border-color: lightgrey;
}

.survey-list li {
    cursor: pointer;
}

.info-spinner {
    height: 1.5rem;
    width: 1.5rem;
}


.landing-error {
    font-size: 13px;
}
