body {
    background-color: #f5f5f5;
}

.card {
    background-color: white !important;
}

.session-detail {
    max-width: 800px;
}

.session-detail .card {
    height: 60vh;
}


@media (max-width: 768px) {
    .session-detail .card {
        height: 88vh;
    }
}

.main-nav {
    border-bottom: 1px solid;
    background-color: white !important;
    border-color: lightgrey;
}
