# Operating system garbage
.DS_Store
[Tt]humbs.db

# Emacs backup files
*~

# JetBrains Editor Files
/.idea/*

*node_modules
*/dist/assessment_config_example.png
*/dist/index.html
*/dist/manifest.json
*/dist/participant_*
*/dist/therapy_session_*
*/dist/vite.svg

