html, body, #root {
    height: 100%;
}

html h2 {
    margin-bottom: 3em;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body{
    background-color: rgb(247,247,245);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.logo-shield {
    max-width: 250px;
}

.submit {
    background-color: rgb(140,21,21);
}
.submit:hover{
    background-color: rgb(127,119,118);
}
.submit:active{
    background-color: rgb(140,21,21) !important;
}

.react-tel-input .form-control {
    width: 100% !important;
    padding: 6px 7px 6px 60px !important;
}
